@import url(../fonts.css);

html {
  max-width: 1600px;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 3635px;
  font-size: 10px;
  font-family: 'Lato-Medium', Helvetica, sans-serif;
  margin: 0 auto;
  padding: 0;
}

header {
  width: 100%;
  height: 1060px;
  margin: 0 auto;
  background-image: url('../images/Header.png');
  background-position: center top;
}

header:after {
  content: '';
  position: absolute;
  height: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

#header-content {
  width: 93.5%;
  margin: 0 auto;
  height: 90px;
  border-bottom: 1px solid #2d2e2f;
  z-index: 3;
  position: relative;
}

#logo {
  box-sizing: content-box;
  width: 45%;
  height: 33%;
  display: block;
  float: left;
  margin: 0;
}

#logo a img {
  width: 24%;
  padding-left: 0.9%;
  padding-top: 2rem;
}

#navigation {
  box-sizing: content-box;
  width: 55%;
  height: 100%;
  display: block;
  float: right;
  margin: 0;
  padding: 0;
  line-height: 32%;
  text-align: right;
}

#header-content nav a {
  box-sizing: border-box;
  display: block;
  height: 90px;
  float: left;
  margin-right: 10.4%;
  padding-top: 2.75rem;
  font-size: 1.6em;
  text-decoration: none;
  color: #ffffff;
}

#navigation a:first-child {
  margin-left: 4%;
}

#navigation a:last-child {
  margin-right: 0;
}

#navigation a:hover {
  border-bottom: 2px solid #ffffff;
}

#greeting {
  box-sizing: content-box;
  position: relative;
  padding: 0px;
  top: 18.5rem;
  color: #ffffff;
  clear: both;
  text-align: center;
}

#greeting p:first-child {
  font-family: 'Lato-Heavy';
  font-size: 6.7em;
  text-align: center;
  margin: 0px;
  padding-top: 35px;
}

#greeting p:last-child {
  font-family: 'Georgia';
  font-style: italic;
  font-size: 3.2em;
  margin: 0px;
  line-height: 1.5;
  padding-top: 0.5rem;
}

#header-but {
  box-sizing: content-box;
  position: relative;
  top: 855px;
  z-index: 3;
}

#header-but button {
  border: 0;
  outline: none;
  font-family: 'Lato-Heavy';
  color: #ffffff;
  font-size: 2.2em;
}

.login {
  display: block;
  width: 40.1%;
  height: 7.55rem;
  background-color: #21424a;
  position: relative;
  float: left;
  padding-left: 14%;
}

.register {
  width: 40.1%;
  display: block;
  height: 7.55rem;
  background-color: #2fac6c;
  position: relative;
  float: right;
  padding-right: 13.5%;
}

.login:after {
  content: '';
  position: absolute;
  background-color: #21424a;
  top: 0;
  right: -23.3%;
  bottom: 0;
  width: 35%;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-13deg);
}

.register:before {
  content: '';
  position: absolute;
  background-color: #2fac6c;
  top: 0;
  left: -26%;
  bottom: 0;
  width: 35%;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-13deg);
}

.login:hover:after,
.login:hover {
  cursor: pointer;
  background-color: #2fac9c;
}

.register:hover:before,
.register:hover {
  cursor: pointer;
  background-color: #2fac9c;
}

/* Main */
main {
  width: 100%;
  height: 2270px;
  background-color: #ffffff;
}

#table-section {
  width: 100%;
  height: 565px;
}

#table-section-content {
  position: relative;
  box-sizing: content-box;
  width: 75%;
  height: 77%;
  margin: 0 auto;
  top: 13%;
}

#table-section-content h2 {
  font-family: 'Lato-Heavy';
  font-size: 2.2em;
  color: #000000;
  letter-spacing: 0.04em;
  text-align: center;
}

#table-section-content p {
  color: #a8a8a8;
  font-family: 'Lato-Light';
  font-size: 1.8em;
  padding-left: 2.1rem;
  letter-spacing: 0.04em;
}

#select-row {
  box-sizing: border-box;
  width: 92.5%;
  height: 3.1rem;
  border: 1px solid #cbcbcb;
  margin: 3.1rem auto;
  padding: 0;
  margin-bottom: 0px;
}

#select-row div {
  box-sizing: border-box;
  height: 30px;
  margin-top: 7.5px;
  color: #cbcbcb;
  font-size: 0.95rem;
}

#select-row div:first-child {
  width: 8%;
  border-right: 1px solid #cbcbcb;
  float: left;
  text-align: center;
  padding-top: 0.5rem;
}

#select-row div:nth-child(2) {
  width: 82.3%;
  border-right: 1px solid #cbcbcb;
  float: left;
  text-align: left;
  color: #b6b6b6;
  padding-top: 0.5rem;
  padding-left: 0.9rem;
}

#select-row .select {
  width: 9.7%;
  box-sizing: border-box;
  float: right;
}

#select-row .select form select {
  box-sizing: border-box;
  background: transparent;
  width: 100%;
  height: inherit;
  border: none;
  font-size: 0.95rem;
  color: #cbcbcb;
  padding-left: 0.9rem;
  padding-top: 0.4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.select {
  background: url(../images/fa-angle-down.png);
  background-position: 80% 60%;
  background-repeat: no-repeat;
}

.select form select:hover {
  cursor: pointer;
}

/* Packages */
.table-container {
  box-sizing: border-box;
  width: 92.45%;
  height: 12.2rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  border: 1px solid #cecece;
}

.table {
  box-sizing: border-box;
  position: relative;
  width: 94.4%;
  height: 85%;
  top: 15px;
  left: 2.5%;
  font-size: 1.4em;
  line-height: 2em;
  color: #cecece;
  padding: 0;
}

.table table {
  width: 100%;
  height: 100%;
}

.table table tr {
  height: 50%;
}

.table table td {
  border-right: 1px solid #cbcbcb;
}

.table table td:first-child,
.table table td:last-child {
  width: 24%;
  border-right: 1px solid #cbcbcb;
}

.table table td:nth-child(2),
.table table td:nth-child(3) {
  width: 26.7%;
  border-right: 1px solid #cbcbcb;
}

.table table tr:nth-child(1) td {
  border-bottom: 1px solid #cbcbcb;
}

.table table tr td:last-child {
  border-right: none;
}

/*Table cells text align*/
.table table tr:first-child td:nth-child(1) {
  padding-left: 4.2rem;
  padding-bottom: 1rem;
}

.table table tr:last-child td:nth-child(1) {
  padding-left: 4.2rem;
  padding-top: 0.8rem;
}

.table table tr:first-child td:nth-child(2) {
  padding-left: 5.5rem;
  padding-bottom: 1rem;
}

.table table tr:last-child td:nth-child(2) {
  padding-left: 5.5rem;
  padding-top: 0.9rem;
}

.table table tr:first-child td:nth-child(3) {
  padding-left: 4.6rem;
  padding-bottom: 1rem;
}

.table table tr:last-child td:nth-child(3) {
  padding-left: 4.6rem;
  padding-top: 0.8rem;
}

.table table tr:first-child td:nth-child(4) {
  padding-left: 3.3rem;
  padding-bottom: 1rem;
}

.table table tr:last-child td:nth-child(4) {
  padding-left: 3.3rem;
  padding-top: 0.9rem;
}

.square {
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
}

.second {
  left: 22.6%;
  top: 45%;
}

.third {
  left: 49.2%;
  top: 45%;
}

.fourth {
  right: 22.4%;
  top: 45%;
}

#packages-container {
  width: 100%;
  height: 765px;
}

.packages-bg {
  clear: both;
  width: 100%;
  height: 382px;
  background-image: url('../images/Packages\ Photo.png');
  background-position: center top;
  margin-top: 0%;
}

.plans {
  width: 100%;
  height: 665px;
  position: relative;
  margin: 0 auto;
  bottom: 282px;
  padding: 0%;
  border-bottom: 2px dashed #d8d8d8;
}

.plans > div {
  position: absolute;
  display: block;
  box-sizing: content-box;
  width: 20%;
  height: 563px;
  background: #ffffff;
  float: left;
  box-shadow: 0 10px 10px -0.5px #f8f8f8, 0 10px 1px -0.5px #fefefe;
  margin-top: 0;
}

.plans > div > div {
  box-sizing: border-box;
  width: 80%;
  border-bottom: 0.5px solid #dfdfdf;
  margin: 0 auto;
}

.plans > div > div:first-child {
  height: 25.5%;
}

.plans > div > div:nth-child(2) {
  height: 50.5%;
  width: 80%;
}

.plans > div > div:last-child {
  height: 24%;
  border-bottom: none;
}

.plans > div > div h2 {
  font-family: 'Lato-Bold';
  font-size: 1rem;
  color: #282828;
  margin: 0;
  position: absolute;
  top: 19%;
}

.one-quater,
.two-quaters,
.three-quaters,
.four-quaters {
  position: absolute;
  top: 6.5%;
  right: 40%;
  width: 45px;
  height: 45px;
  transform: rotate(-45deg);
}

.one-quater img,
.two-quaters img,
.three-quaters img,
.four-quaters img {
  position: absolute;
  right: 28%;
  top: 32%;
  transform: rotate(45deg);
}

.one-quater {
  border-radius: 100px 120px 140px 100px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  border-right: 5px solid #f9d423;
  border-left: 5px solid white;
}

.basic table,
.normal table,
.big table,
.biggest table {
  width: 100%;
  height: 100%;
  font-family: 'Lato-Light';
  font-size: 1rem;
  padding: 0;
  line-height: 0;
  color: #c3c3c3;
}

#packages-container table tr:nth-child(1) td {
  padding-top: 3%;
}

#packages-container
  table
  tr:nth-child(4)
  td
  #packages-container
  table
  tr:nth-child(5)
  td,
#packages-container table tr:nth-child(6) td {
  padding-bottom: 1%;
}

#packages-container table tr:nth-child(7) td {
  padding-bottom: 3.1%;
}

#packages-container table tr td:last-child {
  font-size: 1.05rem;
  text-align: right;
}

.basic table tr td:last-child {
  color: #f9d423;
}

.normal table tr td:last-child {
  color: #7f8c8d;
}

.big table tr td:last-child {
  color: #f85f40;
}

.biggest table tr td:last-child {
  color: #1abc9c;
}

.price {
  position: relative;
  width: 50%;
  height: 22%;
  font-family: 'Lato-Bold';
  font-size: 1.5em;
  color: #c3c3c3;
  text-align: center;
  vertical-align: center;
  line-height: 1.5em;
  top: 23%;
  left: 26%;
}

.price span + span {
  color: #000000;
  font-size: 1.9em;
}

.price span:first-child {
  color: #000000;
  vertical-align: top;
  font-size: 1.1em;
}

.selected-plan {
  position: relative;
  width: 100%;
  height: 19.9%;
  font-family: 'Lato-Bold';
  font-size: 0.9rem;
  text-align: center;
  top: 37%;
}

.basic {
  left: 3%;
  border-top: 6px solid #f9d423;
}

.basic h2 {
  left: 26%;
}

.normal {
  left: 27.6%;
  border-top: 6px solid #7f8c8d;
}

.two-quaters {
  border-radius: 0px 100px 100px 100px;
  border-top: 5px solid white;
  border-bottom: 5px solid #7f8c8d;
  border-right: 5px solid #7f8c8d;
  border-left: 5px solid white;
}

.normal h2 {
  left: 21%;
}

.big {
  left: 52%;
  border-top: 6px solid #f85f40;
}

.three-quaters {
  border-radius: 100px 100px 100px 100px;
  border-top: 5px solid white;
  border-bottom: 5px solid #f85f40;
  border-right: 5px solid #f85f40;
  border-left: 5px solid #f85f40;
}

.big h2 {
  left: 30%;
}

.biggest {
  right: 3.1%;
  border-top: 6px solid #1abc9c;
}

.four-quaters {
  border-radius: 100px 100px 100px 100px;
  border: 5px solid #1abc9c;
}

.biggest h2 {
  left: 21%;
}

.basic .price {
  border-bottom: 3px solid #f9d423;
}

.normal .price {
  border-bottom: 3px solid #7f8c8d;
}

.big .price {
  border-bottom: 3px solid #f85f40;
}

.biggest .price {
  border-bottom: 3px solid #1abc9c;
}

/*About us*/
#about_us {
  width: 100%;
  height: 17.1%;
  margin: 0 auto;
}

#about_us > div {
  height: 47%;
  margin-top: 8%;
}

#about_us > div:first-child {
  float: left;
  width: 43.5%;
  box-sizing: border-box;
  padding: 0.3% 8% 0% 3.2%;
  border-right: 2px dashed#747474;
}

#about_us > div:first-child h2 {
  font-family: 'Lato-Semibold';
  font-size: 2.1rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  margin: 0 0 6% 0;
}

#about_us > div:first-child h2 span {
  font-family: 'Lato-Black';
}

#about_us > div:first-child p {
  font-family: 'Lato-Semibold';
  font-size: 1.6em;
  letter-spacing: 0.02em;
  line-height: 1.7em;
  text-align: justify;
  color: #747474;
}

#about_us > div:last-child {
  float: right;
  width: 56.5%;
}

#about_us > div:last-child figure {
  box-sizing: border-box;
  height: 100%;
  width: 33%;
  margin: 0;
  padding-top: 0.4rem;
  display: inline-block;
}

#about_us > div:last-child figure figcaption p:nth-child(1) {
  font-family: 'Lato-Semibold';
  font-size: 1.7em;
  margin: 0;
  padding-top: 0.6rem;
}

#about_us > div:last-child figure figcaption p:nth-child(2) {
  margin: 0;
  padding-top: 0.4rem;
  font-family: 'Lato-Regular';
  font-size: 1rem;
  letter-spacing: 0.015rem;
  color: #bfbfbf;
}

#about_us > div:last-child figure figcaption div {
  box-sizing: border-box;
}

#about_us > div:last-child > figure > figcaption div i {
  display: inline-block;
  margin-top: 0.7rem;
  font-size: 0.9rem;
  text-decoration: none;
  color: #bfbfbf;
}

#about_us > div:last-child > figure > figcaption div i:hover {
  color: #1f89ba;
}

#about_us > div:last-child > figure > figcaption div a:nth-child(3) i {
  transform: scale(-1, 1);
}

.jonny img {
  padding-left: 6.5rem;
}

.jonny p:first-child {
  padding-left: 7.1rem;
}

.jonny p:nth-child(2) {
  padding-left: 7.7rem;
}

.jonny figcaption > div a:nth-child(1) i {
  margin-left: 6.7rem;
}

.jonny figcaption > div a:nth-child(2) i {
  margin-left: 1.5rem;
}

.jonny figcaption > div a:nth-child(3) i {
  margin-left: 1.2rem;
}

.john img {
  padding-left: 5.6rem;
}

.john p:first-child {
  padding-left: 6.5rem;
}

.john p:nth-child(2) {
  padding-left: 6.8rem;
}

.john figcaption > div a:nth-child(1) i {
  margin-left: 5.8rem;
}

.john figcaption > div a:nth-child(2) i {
  margin-left: 1.5rem;
}

.john figcaption > div a:nth-child(3) i {
  margin-left: 1.3rem;
}

.johnatan img {
  padding-left: 4.8rem;
}

.johnatan p:first-child {
  padding-left: 4.35rem;
}

.johnatan p:nth-child(2) {
  padding-left: 6.5rem;
}

.johnatan figcaption > div a:nth-child(1) i {
  margin-left: 5.1rem;
}

.johnatan figcaption > div a:nth-child(2) i {
  margin-left: 1.5rem;
}

.johnatan figcaption > div a:nth-child(3) i {
  margin-left: 1.3rem;
}

#about_us > div:last-child figure figcaption div i:hover {
  cursor: pointer;
}

/* Slider */
#slider-body {
  box-sizing: border-box;
  width: 100%;
  height: 190px;
  margin-top: 10px;
  background-image: url('../images/Comments BG Photo.png');
  background-position: center top;
}

.sliderA {
  width: 900px;
  height: 190px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.sliderA > input {
  display: none;
}

.sliderA > input + label {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  cursor: pointer;
  z-index: 100;
  position: relative;
  right: -3.5rem;
  margin-right: 0.5rem;
  top: 67%;
}

.sliderA > input + label:hover {
  background: rgba(250, 250, 250, 0.8);
}

.sliderA > input:checked + label {
  background: #ffffff;
}

.sliderA > div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
}

.sliderA > div p {
  font-family: 'Lato-Light';
  font-size: 1.25rem;
  color: #ffffff;
  line-height: 1.8rem;
  margin-top: 3rem;
  margin-left: -0.4rem;
  margin-bottom: 0;
}

.sliderA > div > p span {
  margin-left: -0.7rem;
}

.sliderA > div p:last-child {
  position: absolute;
  width: 50%;
  box-sizing: border-box;
  font-family: 'Lato-Bold';
  line-height: 1rem;
  left: 1.5rem;
  bottom: 3.2rem;
  text-align: right;
  padding-right: 0.8rem;
  border-right: 1px solid #747474;
}

.sliderA > div {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
  -moz-transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.sliderA > input:checked + label + div {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

#service-container {
  width: 100%;
  height: 15.1%;
}

#service-container div {
  position: relative;
  box-sizing: content-box;
  width: 20%;
  display: inline-block;
  text-align: center;
  font-size: 1.4em;
}

#service-container div {
  top: 30%;
}

#service-container div:nth-child(1) {
  left: 2%;
}

#service-container div:nth-child(2) {
  left: 6.9%;
}

#service-container div:nth-child(3) {
  left: 12.5%;
}

#service-container div:nth-child(4) {
  left: 17.2%;
}

#service-container div h2 {
  font-family: 'Lato-Heavy';
  font-size: 1.1rem;
  text-align: center;
  padding-top: 2px;
  margin-bottom: 5px;
}

#service-container div:nth-child(2) h2,
#service-container div:nth-child(4) h2 {
  padding-left: 3px;
}

#service-container div:nth-child(1) h2,
#service-container div:nth-child(3) h2 {
  padding-right: 5px;
}

#service-container div p {
  margin: 0;
  font-family: 'Lato-Regular';
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #878787;
  text-align: center;
}

.ser_sprite {
  background-image: url('../images/sprite.png');
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
}

.sprite-fa-arrows {
  width: 60px;
  height: 60px;
  background-position: -5px -5px;
}

.sprite-fa-cloud {
  width: 60px;
  height: 60px;
  background-position: -75px -5px;
}

.sprite-fa-comments {
  width: 60px;
  height: 60px;
  background-position: -145px -5px;
}

.sprite-fa-flash {
  width: 60px;
  height: 60px;
  background-position: -215px -5px;
}

/* Footer */
footer {
  content: '';
  width: 100%;
  height: 8.05%;
  margin-top: -7px;
  background-color: #2a2a2a;
}

#footer-nav {
  width: 93.5%;
  margin: 0 auto;
  height: 75px;
  border-bottom: 1px solid #4a4a4a;
}

#logo-bottom {
  box-sizing: content-box;
  width: 46.5%;
  height: 32.8%;
  display: block;
  float: left;
  margin: 0;
}

#logo-bottom img {
  width: 23.5%;
  padding-top: 22px;
}

#footer-nav nav {
  box-sizing: content-box;
  width: 39.5%;
  float: right;
  margin: 0;
}

#footer-nav nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0;
  margin-top: 20px;
  margin-right: 10%;
}

#footer-nav nav ul li:last-child {
  margin-right: 0;
}

#footer-nav nav ul li a {
  display: block;
  font-family: 'Lato-Medium';
  font-size: 1.3em;
  color: #878787;
  text-decoration: none;
  padding: 0;
}

#footer-nav nav ul li a:hover {
  color: #ffffff;
}

#footer-bottom {
  width: 93.5%;
  margin: 0 auto;
  margin-top: 2rem;
  height: 9.5rem;
}

#footer-bottom > div:nth-child(1) {
  box-sizing: border-box;
  float: left;
  margin: 0;
  padding-right: 4rem;
  padding-top: 0.2rem;
  width: 31.5%;
  height: inherit;
  font-family: 'Lato-Light';
  font-size: 0.95rem;
  color: #878787;
  text-align: left;
  line-height: 1.65rem;
  border-right: 1px solid #878787;
}

#footer-bottom div:nth-child(1) p:last-child span {
  font-family: 'Lato-Semibold';
}

#footer-bottom > div:nth-child(2) {
  box-sizing: border-box;
  float: left;
  width: 42%;
  height: inherit;
  margin: 0;
}

#footer-bottom > div:nth-child(2) ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

#footer-bottom > div:nth-child(2) ul li {
  list-style-type: none;
  line-height: 1.65rem;
}

#footer-bottom > div:nth-child(2) ul li a:before {
  content: '>\a0';
  font-family: 'Lato-Light';
  font-size: 1rem;
  color: #878787;
}

#footer-bottom > div:nth-child(2) ul li a {
  font-family: 'Lato-Light';
  font-size: 0.9rem;
  color: #878787;
  text-decoration: none;
}

#footer-bottom > div:nth-child(2) ul li a:hover {
  color: #ffffff;
}

#footer-bottom > div:nth-child(2) ul li a:hover:before {
  content: '>\a0\a0\a0';
  color: #ffffff;
}

#footer-bottom div:nth-child(2) > div:first-child {
  box-sizing: border-box;
  width: 50%;
  height: inherit;
  float: left;
  padding-top: 1.25rem;
  padding-left: 21%;
}

#footer-bottom div:nth-child(2) > div:last-child {
  box-sizing: border-box;
  width: 50%;
  height: inherit;
  float: right;
  padding-top: 1.25rem;
  padding-left: 8%;
}

#footer-bottom > div:nth-child(3) {
  float: right;
  width: 26.5%;
  height: inherit;
  box-sizing: border-box;
  border-left: 1px solid #878787;
}

#footer-bottom > div:nth-child(3) a,
#footer-bottom > div:nth-child(3) p {
  font-family: 'Lato-Light';
  font-size: 0.9rem;
  color: #878787;
  padding-left: 5rem;
}

#footer-bottom > div:nth-child(3) a {
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
  padding-top: 1.5rem;
  padding-left: 5rem;
}

#footer-bottom > div:nth-child(3) a + a {
  padding-top: 1rem;
}

#footer-bottom > div:nth-child(3) a:first-child:before {
  content: url('../images/fa-phone.png');
}

#footer-bottom > div:nth-child(3) a:first-child span:before {
  content: '\a0\a0';
}

#footer-bottom > div:nth-child(3) a:nth-child(2):before {
  content: url('../images/fa-envelope.png');
}

#footer-bottom > div:nth-child(3) a:nth-child(2) span:before {
  content: '\a0\a0';
}

#footer-bottom > div:nth-child(3) p {
  margin-top: 0.4rem;
  line-height: 1.6rem;
}
